a{text-decoration: none}
ul,body,input,p,h1,h2,li{margin: 0;padding: 0;list-style: none;}
img{border: none}
*{box-sizing: border-box}
/*头*/
.tou{
    width: 1600px;
    height: 80px;
    margin: 0 auto;
    background: url("../image/1.png");
}
.touleft{
    width: 330px;
    height: 30px;
    float: left;
    margin-left: 207px;
    margin-top: 27px;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #fff;
}
.touright{
    width: 358px;
    height: 41px;
    float: right;
    margin-top: 20px;
    margin-right: 130px;
    background: url("../image/2.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #fff;
    padding-left: 50px;
}
/*导航栏*/
.daohang{
    width: 1600px;
    height: 216px;
    margin: 0 auto;
}
.shouye{
    width: 115px;
    height: 48px;
    border-radius: 24px;
    background: #F9C833;
    float: left;
    margin-top: 88px;
    margin-left: 227px;
    line-height: 48px;
    text-align: center;
}
.shouye a{
    font-family: "微软雅黑";
    font-size: 24px;
    color: #fff;
}
.ppgs{
    width: 89px;
    height: 21px;
    float: left;
    margin-left: 91px;
    margin-top: 103px;
}
.ppgs a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
.scxq{
    width: 89px;
    height: 21px;
    float: left;
    margin-left: 112px;
    margin-top: 103px;
}
.scxq a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
.logo{
    display: block;
    width: 158px;
    height: 166px;
    margin-top: 18px;
    margin-left: 61px;
    background: url("../image/3.png");
    float: left;
}
.pssg{
    width: 89px;
    height: 21px;
    float: left;
    margin-left: 61px;
    margin-top: 103px;
}
.pssg a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
.xwc{
    width: 68px;
    height: 21px;
    float: left;
    margin-left: 103px;
    margin-top: 103px;
}
.xwc a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
.gywm{
    width: 89px;
    height: 21px;
    float: left;
    margin-left: 92px;
    margin-top: 103px;
}
.gywm a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
/*第一部分*/
.content1{
    width: 1600px;
    height: 2124px;
    background: #FFF1D7;
    margin: 0 auto;
}
.kuai{
    width: 1200px;
    height: 2124px;
    margin-left: 200px;
    background: #FFF7E9;
    padding-top: 35px;
    position: relative;
}
.biaoti{
    width: 710px;
    height: 24px;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #BA4645;
    margin-left: 107px;
}
.xiaoxi{
    width: 779px;
    height: 45px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 38px;
    margin-left: 34px;
}
.shangzhou{
    width: 779px;
    height: 45px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 18px;
    margin-left: 34px;
}
.tu1{
    width: 692px;
    height: 461px;
    background: url("../image/4.png") no-repeat;
    margin-top: 24px;
    margin-left: 76px;
}
.yilai{
    width: 779px;
    height: 45px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 24px;
    margin-left: 34px;
}
.jinri{
    width: 779px;
    height: 65px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 18px;
    margin-left: 34px;
}
.tu2{
    width: 692px;
    height: 461px;
    background: url("../image/5.png") no-repeat;
    margin-top: 30px;
    margin-left: 76px;
}
.xilie{
    width: 779px;
    height: 65px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 21px;
    margin-left: 34px;
}
.hezuo{
    width: 779px;
    height: 45px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 20px;
    margin-left: 34px;
}
.tu3{
    width: 692px;
    height: 461px;
    background: url("../image/6.png") no-repeat;
    margin-top: 31px;
    margin-left: 76px;
}
.biaoshi{
    width: 779px;
    height: 65px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    line-height: 26px;
    text-indent: 2em;
    margin-top: 35px;
    margin-left: 34px;
}
.kuai2{
    width: 273px;
    height: 329px;
    position: absolute;
    left: 882px;
    top: 49px;
}
.xwzx{
    width: 100px;
    height: 27px;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #BF5252;
}
.xuxian{
    width: 267px;
    height: 1px;
    border-bottom: 1px dashed #BF5252;
    margin-top: 11px;
}
.zf{
    display: block;
    width: 274px;
    height: 36px;
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    margin-top: 15px;
}
.yyzl{
    display: block;
    width: 274px;
    height: 36px;
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    margin-top: 11px;
}
.daxiang{
    display: block;
    width: 274px;
    height: 36px;
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    margin-top: 11px;
}
.xiankai{
    display: block;
    width: 274px;
    height: 17px;
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    margin-top: 11px;
}
.mwhs{
    display: block;
    width: 274px;
    height: 61px;
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
    margin-top: 11px;
}
.xuxian2{
    width: 267px;
    height: 1px;
    border-bottom: 1px dashed #BF5252;
    margin-top: 20px;
}
.kuai3{
    width: 117px;
    height: 19px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.kuai3 a{
    font-family: "微软雅黑";
    font-size: 14px;
    color: #BF5252;
}
.kuai3 a:hover {
    text-decoration: underline;
    color: #F11614;
}
.kuai3 a:focus{
    text-decoration: underline;
    color: #F11614;
}
/*站点地图*/
.zddt{
    width: 1600px;
    height: 389px;
    margin: 0 auto;
    background: url("../image/20.png") no-repeat;
    background-position: bottom;
}
.dakuai{
    width: 1200px;
    height: 285px;
    margin: 0 auto;
}
.k1{
    width: 102px;
    height: 196px;
    margin-left: 16px;
    float: left;
}
.ppgsd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.fzlcd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.qywhd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.qyzrd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.xwzxd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.k2{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.scxqd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.scxqdd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.k3{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.pssgd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.xptjd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.xxzcd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.thwcd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.k4{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.xwcd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.qs{
    display: block;
    width: 90px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.k5{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.gywmd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.lxwmd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.appd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.bpd{
    display: block;
    width: 80px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.fltkd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.smd{
    display: block;
    width: 90px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.k6{
    width: 260px;
    height: 278px;
    float: right;
}
.mftyd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0 auto;
}
.xingming{
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 17px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.dianhua{
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.kouwei{
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.chengshi {
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.anniud{
    width: 109px;
    height: 32px;
    margin: 0 auto;
    margin-top: 25px;
    background: #F8DC44;
    border: 2px solid #E6C92A;
    border-radius: 16px;
    text-align: center;
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.beian{
    width: 295px;
    height: 16px;
    margin: 0 auto;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #fff;
    margin-top: 60px;
}