a{text-decoration: none}
ul,body,input,p,h1,h2,li{margin: 0;padding: 0;list-style: none;}
img{border: none}
*{box-sizing: border-box}
/*顶部*/
.tou{
    width: 1600px;
    height: 80px;
    margin: 0 auto;
    background: url("../image/1.png");
}
.touleft{
    width: 330px;
    height: 30px;
    float: left;
    margin-left: 170px;
    margin-top: 27px;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #fff;
}
.touright{
    width: 358px;
    height: 41px;
    float: right;
    margin-top: 20px;
    margin-right: 130px;
    background: url("../image/2.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 24px;
    color: #fff;
    padding-left: 50px;
}
/*导航栏*/
.daohang{
    width: 1600px;
    height: 216px;
    margin: 0 auto;
}
.shouye{
    width: 50px;
    height: 21px;
    float: left;
    margin-left: 180px;
    margin-top: 103px;

}
.shouye a{
    font-family: "微软雅黑";
    font-size: 24px;
    color: #000;
}
.ppgs{
    width: 89px;
    height: 21px;
    float: left;
    margin-left: 112px;
    margin-top: 103px;
}
.ppgs a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
.scxq{
    width: 89px;
    height: 21px;
    float: left;
    margin-left: 112px;
    margin-top: 103px;
}
.scxq a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
.logo{
    display: block;
    width: 158px;
    height: 166px;
    margin-top: 18px;
    margin-left: 61px;
    background: url("../image/3.png");
    float: left;
}
.pssg{
    width: 127px;
    height: 44px;
    border-radius: 22px;
    background: #F9C833;
    float: left;
    margin-top: 95px;
    margin-left: 100px;
    line-height: 44px;
    text-align: center;
}
.pssg a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #fff;
}
.xwc{
    width: 68px;
    height: 21px;
    float: left;
    margin-left: 103px;
    margin-top: 103px;
}
.xwc a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
.gywm{
    width: 89px;
    height: 21px;
    float: left;
    margin-left: 92px;
    margin-top: 103px;
}
.gywm a{
    font-family: "微软雅黑";
    font-size: 20px;
    color: #000;
}
/*banner*/
.banner{
    width: 1600px;
    height: 776px;
    margin: 0 auto;
    background: url("../image/4.png");
}
.circlebox{
    width: 216px;
    height: 20px;
    float: left;
    margin-top: 740px;
    margin-left: 710px;
}
.circle{
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 30px;
    background: #fff;
    border-radius: 50%;
}
/*内容*/
.content{
    width: 1600px;
    height: 1519px;
    margin: 0 auto;
    background: #FFF1D7;
}
.kuai{
    width: 1008px;
    height: 1519px;
    margin-left: 200px;
    background: #FFF7E9;
    padding-top: 73px;
}
.xptj{
    width: 157px;
    height: 43px;
    font-family: "微软雅黑";
    font-size: 30px;
    color: #000;
    margin-left: 128px;
}
.k10{
    width: 794px;
    height: 336px;
    margin-left: 128px;
    margin-top: 55px;
    background: #fff;
    box-shadow: 0 0 20px #FCEDD6;
    position: relative;
}
.k20{
    width: 794px;
    height: 336px;
    margin-left: 128px;
    margin-top: 92px;
    background: #fff;
    box-shadow: 0 0 20px #FCEDD6;
    position: relative;
}
.k30{
    width: 794px;
    height: 336px;
    margin-left: 128px;
    margin-top: 92px;
    background: #fff;
    box-shadow: 0 0 20px #FCEDD6;
    position: relative;
}
.tu1{
    width: 357px;
    height: 281px;
    background: url("../image/5.png") no-repeat;
    background-position: 16px 15px;
}
.tu2{
    width: 358px;
    height: 281px;
    background: url("../image/6.png") no-repeat;
    background-position: 16px 15px;
}
.tu3{
    width: 357px;
    height: 281px;
    background: url("../image/7.png") no-repeat;
    background-position: 16px 15px;
}
.xin{
    width: 62px;
    height: 19px;
    background: url("../image/8.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #2A2A2A;
    padding-left: 25px;
    position: absolute;
    left: 225px;
    top: 307px;
    cursor: pointer;
}
.wei{
    width: 51px;
    height: 21px;
    background: url("../image/9.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #2A2A2A;
    padding-left: 24px;
    position: absolute;
    left: 302px;
    top: 307px;
    cursor: pointer;
}
.xin2{
    width: 62px;
    height: 19px;
    background: url("../image/8.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #2A2A2A;
    padding-left: 25px;
    position: absolute;
    left: 225px;
    top: 307px;
    cursor: pointer;
}
.wei2{
    width: 51px;
    height: 21px;
    background: url("../image/9.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #2A2A2A;
    padding-left: 24px;
    position: absolute;
    left: 302px;
    top: 307px;
    cursor: pointer;
}
.xin3{
    width: 62px;
    height: 19px;
    background: url("../image/8.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #2A2A2A;
    padding-left: 25px;
    position: absolute;
    left: 225px;
    top: 307px;
    cursor: pointer;
}
.wei3{
    width: 51px;
    height: 21px;
    background: url("../image/9.png") no-repeat;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #2A2A2A;
    padding-left: 24px;
    position: absolute;
    left: 302px;
    top: 307px;
    cursor: pointer;
}
.tysc{
    width: 124px;
    height: 23px;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 418px;
    top: 37px;
}
.sr{
    width: 124px;
    height: 23px;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 418px;
    top: 37px;
}
.tspg{
    width: 144px;
    height: 23px;
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
    color: #000;
    position: absolute;
    left: 418px;
    top: 37px;
}
.js1{
    width: 312px;
    height: 18px;
    position: absolute;
    left: 418px;
    top: 81px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #000;
    line-height: 26px;
}
.js2{
    width: 312px;
    height: 18px;
    position: absolute;
    left: 418px;
    top: 81px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #000;
    line-height: 26px;
}
.js3{
    width: 312px;
    height: 18px;
    position: absolute;
    left: 418px;
    top: 81px;
    font-family: "微软雅黑";
    font-size: 14px;
    color: #000;
    line-height: 26px;
}
.ckxq1, .ckxq2, .ckxq3{
    width: 109px;
    height: 32px;
    background: #F8DC44;
    border: 2px solid #E6C92A;
    border-radius: 16px;
    font-family: "微软雅黑";
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    position: absolute;
    right: 23px;
    bottom: 22px;
    cursor: pointer;
}
.jiazai{
    display: block;
    width: 109px;
    height: 32px;
    margin-top: 75px;
    margin-left: 450px;
    background: #F8DC44;
    border: 2px solid #E6C92A;
    border-radius: 16px;
    font-family: "微软雅黑";
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 26px;
}
/*站点地图*/
.zddt{
    width: 1600px;
    height: 389px;
    margin: 0 auto;
    background: url("../image/10.png") no-repeat;
    background-position: bottom;
}
.dakuai{
    width: 1200px;
    height: 285px;
    margin: 0 auto;
}
.k1{
    width: 102px;
    height: 196px;
    margin-left: 16px;
    float: left;
}
.ppgsd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.fzlcd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.qywhd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.qyzrd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.xwzxd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.k2{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.scxqd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.scxqdd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.k3{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.pssgd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.xptjd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.xxzcd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.thwcd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.k4{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.xwcd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.qs{
    display: block;
    width: 90px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.k5{
    width: 102px;
    height: 196px;
    margin-left: 90px;
    float: left;
}
.gywmd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
}
.lxwmd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 24px;
}
.appd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.bpd{
    display: block;
    width: 80px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.fltkd{
    display: block;
    width: 73px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.smd{
    display: block;
    width: 90px;
    height: 20px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #000;
    margin: 0 auto;
    margin-top: 11px;
}
.k6{
    width: 260px;
    height: 278px;
    float: right;
}
.mftyd{
    width: 102px;
    height: 25px;
    font-family: "微软雅黑";
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin: 0 auto;
}
.xingming{
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 17px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.dianhua{
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.kouwei{
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.chengshi {
    display: block;
    width: 251px;
    height: 30px;
    border: none;
    margin: 0 auto;
    margin-top: 16px;
    border-radius: 15px;
    padding-left: 10px;
    background: #EDECEC;
}
.anniud{
    width: 109px;
    height: 32px;
    margin: 0 auto;
    margin-top: 25px;
    background: #F8DC44;
    border: 2px solid #E6C92A;
    border-radius: 16px;
    text-align: center;
    line-height: 26px;
    font-family: "微软雅黑";
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.beian{
    width: 295px;
    height: 16px;
    margin: 0 auto;
    font-family: "微软雅黑";
    font-size: 12px;
    color: #fff;
    margin-top: 60px;
}